@model projectWebApplication.DTOs.TestimonyDTO

@{
    ViewData["Title"] = "AddTestimony";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="row">
    <div class="col-md-11 ml-5">
        <div class="card">
            <div class="card-header card-header-primary">
                <h4 class="card-title">Update Testimony</h4>
            </div>

            @if (Model.OutputHandler.IsErrorOccured)
            {
                <p>@Model.OutputHandler.Message</p>
            }

            <div class="card-body">
                <form asp-action="UpdateTestimony" method="post" enctype="multipart/form-data">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <input asp-for="@Model.CreatedBy" hidden class="form-control" />
                        <input asp-for="@Model.CreatedDate" hidden class="form-control" />
                        <input asp-for="TestimonyId" class="form-control" hidden />
                        <input asp-for="ImageUrl" class="form-control" hidden />
                        <span asp-validation-for="TestimonyId" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="TestifierName" class="control-label"></label>
                        <input asp-for="TestifierName" class="form-control" />
                        <span asp-validation-for="TestifierName" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="TestimonyHeading" class="control-label"></label>
                        <input asp-for="TestimonyHeading" class="form-control" />
                        <span asp-validation-for="TestimonyHeading" class="text-danger"></span>
                    </div>
                    <label asp-for="TestimonyFullDescription" class="control-label">Testimony Full Description</label>
                    @Html.TextAreaFor(model => model.TestimonyFullDescription, new { @id = "FullDescription", @class = "form-control", @rows = "40" })

                    <div class="form-group p-2">
                        <label class="form-check-label">
                            <input class="form-check-input" asp-for="IsPublished" /> @Html.DisplayNameFor(model => model.IsPublished)
                        </label>
                    </div>
                    <div class="form-group">
                        <label asp-for="TestimonyDate" class="control-label"></label>
                        <input asp-for="TestimonyDate" class="form-control" />
                        <span asp-validation-for="TestimonyDate" class="text-danger"></span>
                    </div>
                    <div class="row">
                        <div class="col-lg-6">
                            <label for="file">Artwork:</label>
                            <input type="file" name="artwork" id="artwork" accept="image/*" />
                        </div>
                        <div class="col-lg-6">

                        </div>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Update" class="btn btn-primary" />
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="col-md-1"></div>

</div>

<div>
    <br />

</div>

