@model projectWebApplication.ViewModels.EventsVM
@using projectWebApplication.General
@{
    ViewData["Title"] = "News and Events";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<style>
    @@media (min-width: 992px) {
        .parent {
            overflow: hidden;
            position: relative;
            width: 100%;
            min-height: 500px;
        }

        .child-right {
            position: absolute !important;
            height: 100%;
            top: 0;
            right: 0;
            width: 50%;
            overflow: auto
        }

        .child-left {
            width: 50%;
        }
    }

    }

    @@media (min-width: 768px) {
        .parent {
            overflow: hidden;
            position: relative;
            width: 100%;
            min-height: 500px;
        }

        .child-right {
            position: absolute;
            height: 100%;
            top: 0;
            right: 0;
            width: 50%;
            overflow: auto
        }

        .child-left {
            width: 50%;
        }
    }

    @@media (min-width: 768px) {
        .scrollable-height-145 {
            height: 145vh;
            overflow-y: scroll;
        }

        .recentEventImg {
            height: 100px !important;
        }

        .parent {
            overflow: hidden;
            position: relative;
            width: 100%;
            min-height: 500px;
        }

        .child-right {
            position: initial;
            height: 100%;
            top: 0;
            right: 0;
            width: 50%;
            overflow: auto
        }

        .child-left {
            width: 50%;
        }
    }

    @@media (min-width: 576px) {


        .recentEventImg {
            height: 200px !important;
        }

        .parent {
            overflow: hidden;
            position: relative;
            width: 100%;
            min-height: 500px;
        }

        .child-right {
            position: initial;
            height: 100%;
            top: 0;
            right: 0;
            width: 50%;
            overflow: auto
        }

        .child-left {
            width: 50%;
        }
    }




    @@media (min-width: 480px) {
        .parent {
            overflow: hidden;
            position: relative;
            width: 100%;
            min-height: 500px;
        }

        .child-right {
            position: initial;
            height: 100%;
            top: 0;
            right: 0;
            width: 50%;
            overflow: auto
        }

        .child-left {
            width: 50%;
        }

        .recentEventImg {
            height: 200px !important;
        }
    }
</style>
<section class="  bg-transparent">
    <div class="container">
        <div class="row row-5 align-items-center">
            <div class="col-md-12 pt-5 text-left" data-animate='{"class":"fadeIn"}'>
                <h2>Up Coming Events</h2>
            </div>

        </div>
        <div class="row row-40 justify-content-xxl-between parent">
            <div class="col-lg-8 col-md-12 col-xs-12 col-sm-12 child-left">
                <div class="row row-40 justify-content-xxl-between">
                    <div class="col-md-12">
                        <div class="row row-40 justify-content-xxl-between">
                            <form asp-action="RefreshEvents" asp-controller="NewsAndEvents" method="POST" data-ajax="true" data-ajax-update="eventsDiv">
                                <div id="eventsDiv">
                                    @Html.PartialAsync("_FeaturedEventsPartialView", Model.Events)
                                </div>
                                @if (@Model.Events != null)
                                {
                                    @foreach (var item in Model.Events.Where(x => x.IsFeatured && x.IsPublished && x.IsAnEvent).OrderBy(x => x.DateOfEvent))
                                    {
                                        <div class="col-md-6">
                                            <!-- Post-->
                                            <div class="post post-shadow">
                                                <a class="post-media" asp-controller="NewsAndEvents"
                                                   asp-action="EventDetails"
                                                   asp-route-eventId="@item.EventId">
                                                    <img src="data:image;base64,@System.Convert.ToBase64String(item.ImgBytes)" alt="" width="370" height="257" />
                                                    <div class="post-hover-btn">View</div>
                                                </a>
                                                <div class="post-content">
                                                    <div class="post-tags group-5 text-small">
                                                        <h6 class="font-weight-bold">
                                                            @item.Heading
                                                            @if (item.IsOnEventBrite)
                                                            {
                                                                if (item.DateOfEvent < DateTime.UtcNow.AddHours(2)) //Event already happened don't show event brite link
                                                                {
                                                                    <a class="btn btn-sm" style="font-size: 9px;padding: 4px !important;" href="@item.EventBriteLink">Register on EventBrite</a>
                                                                }
                                                                else
                                                                {

                                                                }
                                                            }
                                                        </h6>
                                                    </div>

                                                    @if (item.Article.Length >= 200)
                                                    {
                                                        if (item.Heading.Length >= 70)
                                                        {


                                                            <p>
                                                                @Html.Raw(item.Article.Substring(0, 120))
                                                            </p>
                                                        }
                                                        else
                                                        {
                                                            <p>
                                                                @Html.Raw(item.Article.Substring(0, 200))
                                                            </p>


                                                        }


                                                    }
                                                    else
                                                    {
                                                        <p class="post-title text-divider">
                                                            @Html.Raw(item.Article)
                                                        </p>

                                                    }

                                                    @if (item.IsOnEventBrite)
                                                    {
                                                        <div class="post-date mt-0">@String.Format("{0:f}", @item.DateOfEvent)</div>
                                                    }
                                                    else
                                                    {
                                                        <div class="post-date">@String.Format("{0:f}", @item.DateOfEvent)</div>
                                                    }

                                                </div>
                                            </div>
                                        </div>

                                    }
                                }
                            </form>
                            @{
                                var prevDisabled = !Model.PaginatedEvents.HasPreviousPage ? "disabled" : "";
                                var nextDisabled = !Model.PaginatedEvents.HasNextPage ? "disabled" : "";
                            }
                            <div class="row p-3">
                                <div class="col-4"></div>
                                <div class="col-4 text-center">
                                    <a asp-action="RefreshEvents"
                                       asp-route-sortOrder="@ViewData["CurrentSort"]"
                                       asp-route-page="@(Model.PaginatedEvents.PageIndex - 1)"
                                       asp-route-currentFilter="@ViewData["CurrentFilter"]"
                                       asp-route-resourceType="@Model.PageSetup.PageTitle"
                                       class="btn btn-sm btn-default @prevDisabled">
                                        Previous
                                    </a>
                                    <a asp-action="RefreshEvents"
                                       asp-route-sortOrder="@ViewData["CurrentSort"]"
                                       asp-route-page="@(Model.PaginatedEvents.PageIndex + 1)"
                                       asp-route-currentFilter="@ViewData["CurrentFilter"]"
                                       asp-route-resourceType="@Model.PageSetup.PageTitle"
                                       class="btn btn-sm btn-default mt-0 @nextDisabled">
                                        Next
                                    </a>
                                </div>
                                <div class="col-4"></div>
                            </div>


                        </div>
                    </div>
                </div>
                <hr />

            </div>

            <div class="col-lg-4 col-md-12 col-xs-12  col-sm-12   child-right">
                <div class="row row-5 align-items-center">
                    <div class="col-md-12" data-animate='{"class":"fadeIn"}'>
                        <h5>Recent Events</h5>
                    </div>

                </div>
                <div class="widget">

                    <div class="widget-body">
                        @if (@Model.Events != null)
                        {
                            @foreach (var item in Model.Events.Where(x => x.IsPublished && x.IsAnEvent).OrderBy(x => x.DateOfEvent))
                            {


                                <!-- Post small-->
                                <div class="post post-small">
                                    <a class="post-img-link" href="blog-post.html"><img src="data:image;base64,@System.Convert.ToBase64String(item.ImgBytes)" alt="" width="72" height="72" /></a>
                                    <div class="post-body">
                                        <h5 class="post-title">
                                            <a style="font-size: 14px;" asp-controller="NewsAndEvents"
                                               asp-action="EventDetials"
                                               asp-route-eventId="@item.EventId">@item.Heading</a>
                                        </h5>
                                        <div class="post-date text-small"> @String.Format("{0:f}", @item.DateOfEvent)</div>
                                    </div>
                                </div>


                            }
                        }
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>
@*News Section starts here*@
<div class="row row-5 align-items-center">
    <div class="col-md-12 p-4 text-center" data-animate='{"class":"fadeIn"}'>
        <h2>project NEWS AND UPDATES</h2>
    </div>

</div>
<section class="pt-4 bg-transparent">
    <div class="container pb-5">
        <div class="row row-40 row-xl-55 row-xxl-100">
            @if (@Model.Events != null)
            {
                @foreach (var item in Model.Events.Where(x => x.IsPublished && x.IsAnEvent == false).OrderBy(x => x.EventId))
                {
                    <div class="col-sm-6 col-lg-4">
                        <!-- Thumbnail-->
                        <div class="thumbnail thumbnail-simple">
                            <a class="thumbnail-media"
                               asp-controller="NewsAndEvents"
                               asp-action="EventDetails"
                               asp-route-eventId="@item.EventId">

                                <img src="data:image;base64,@System.Convert.ToBase64String(item.ImgBytes)"
                                     alt="" width="370" height="266" />
                            </a>
                            <div class="thumbnail-body">
                                <h6 class="thumbnail-title font-weight-bold">
                                    <a asp-controller="NewsAndEvents"
                                       asp-action="EventDetails"
                                       asp-route-eventId="@item.EventId">@item.Heading</a>
                                </h6>
                                <div class="thumbnail-text">
                                    @if (item.Article.Length >= 112)
                                    {
                                        <div class="post-text"> @Html.Raw(item.Article.Substring(0, 112))</div>
                                    }
                                    else
                                    {
                                        <div class="post-text"> @Html.Raw(item.Article)</div>
                                    }

                                </div>
                                <a class="thumbnail-link"
                                   asp-controller="NewsAndEvents"
                                   asp-action="EventDetails"
                                   asp-route-eventId="@item.EventId">Read More</a>
                            </div>
                        </div>
                    </div>
                }
            }
        </div>
    </div>
</section>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-ajax-unobtrusive/3.2.6/jquery.unobtrusive-ajax.js">

</script>