@model projectWebApplication.ViewModels.QouteVM

@{
    ViewData["Title"] = "ManageQoutes";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<div class="row">
    <div class="col-md-11 ml-5">
        <div class="outer-div">
            <div class="card">
                <div class="card-header card-header-primary">
                    <h4 class="card-title">All Quote </h4>
                </div>
                <div class="card-body">
                    <div class="row text-right">
                        <div class="col-md-12 text-right">
                            <a class="btn btn-raised btn-success" asp-action="AddQoute" asp-controller="Quotes">Add Quote</a>
                            @if (Model.OutputHandler.IsErrorOccured)
                            {
                                <p style="float: left;color: red;font-weight: bold;">@Model.OutputHandler.Message</p>
                            }
                        </div>
                    </div>
                    <div class="row clearfix">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div>

                                <div class="body">
                                    <div class="table-responsive">
                                        <table id="example" class="display table-bordered">
                                                <thead>
                                                    <tr>
                                                      
                                                        <th>
                                                           Qoute Text
                                                        </th>
                                                        <th>
                                                         Publish Status
                                                        </th>
                                                        <th>
                                                           Featured
                                                        </th>
                                                        <th>StorageSize</th> <th></th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    @foreach (var item in Model.QouteDTO)
                                                    {
                                                        <tr>
                                                          
                                                            <td>
                                                                @Html.DisplayFor(modelItem => item.QouteText)
                                                            </td>
                                                           
                                                            <td>
                                                                @Html.DisplayFor(modelItem => item.IsPublished)
                                                            </td> 
                                                            <td>
                                                                @Html.DisplayFor(modelItem => item.IsFeaturedOnHomePage)
                                                            </td>
                                                            <td>
                                                                @Html.DisplayFor(modelItem => item.StorageSize)
                                                            </td>
                                                            <td>
                                                                @Html.ActionLink("Edit", "UpdateQoute", new { qouteId = item.QouteId}) |
                                                                <a onclick="ConfirmFunction(@item.QouteId)">Delete</a>
                                                            </td>
                                                        </tr>
                                                    }
                                                </tbody>
                                            </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-footer text-center">
                    <a class="btn btn-raised btn-success btn-sm" asp-action="ManageQoutes" asp-controller="Quote">Refresh</a>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-1"></div>

</div>

